body {
  background-color: #777777;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  padding: 0.5em;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
}

.sibiLogo {
  float: left;
}

.navLink {
  color: white;
  margin: 15px;
  text-decoration: none;
}

.navLink:hover {
  color: #0f0101;
}

.navBar {
  display: flex;
  float: right;
  justify-content: center;
  color: white;
  background-color: #2d5f5e;
  border-radius: 20px;
  padding: 0.5rem;
  max-width: 40%;
  font-size: 1.2rem;
  margin: 1rem;
}

.landingPage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainImage {
  border-radius: 35px;
  max-height: 50%;
  padding: 1rem;
}

.cards {
  float: center;
}

.opportunityCard {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.footer {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
}

.partnerLogos {
  max-width: 50px;
}

.loginButton {
  border: #2d5f5e;
  background-color: #2d5f5e;
}

.loginButton:hover {
  background-color: #192929;
}

.adminLoginButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
