body {
  background-color: #ffffff;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  padding: 0.5em;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
}

.landingPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 23vh;
  margin-left: 10vw;
  margin-right: 10vw;
  text-align: center;
}

.cardContainer {
  display: flex;
  justify-content: center;
}
.opportunityCard {
  background-color: lightgray;
}

.cards.row {
  display: flex;
  justify-content: center;
}

.cardCol.col {
  padding: 1rem;
}

.footer {
  width: 100vw;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
}

.link {
  margin: 5px;
  text-decoration: none;
}

.externalLink {
  text-decoration: none;
}

.sibiButton {
  border: #2d5f5e;
  background-color: #2d5f5e;
}

.sibiButton:hover {
  background-color: #192929;
}

.backButton {
  float: left;
}

.registerButton {
  float: right;
}

.dashboard {
  margin-top: 45vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footerButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem;
}

.accessibilityStatement {
  padding-top: 1rem;
  padding-left: 4rem;
  padding-right: 4rem;
}

.inputForm {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 25vw;
  margin-right: 25vw;
}
